.whiteNote {
    color: black;
    padding-top: 14%;
    padding-bottom: 2%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    background-color: white;
    cursor: pointer;
    float: left;
}

.blackNote {
    color: white;
    position: relative;
    padding-top: 7%;
    padding-bottom: 2%;
    margin-inline: -2%;
    background-color: black;
    border-color: black;
    cursor: pointer;
    float: left;
    box-shadow: 3px 3px grey;
}
